@{
    string currentController = ViewContext.RouteData.Values["Controller"]?.ToString();
    string currentAction = ViewContext.RouteData.Values["Action"]?.ToString();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TZSmartLockers</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link rel="stylesheet" href="~/css/base.css" />

    <link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Formstyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="d-flex">
        <div class="sidebar">
            <div class="logo d-flex align-items-center mb-4">
                <img src="/images/tz-logo.png" width="40" alt="TZ Logo" />
                <span class="ms-2"><strong>Data<br />Cabinet<br />Security</strong></span>
            </div>           
            <a asp-controller="DeviceStatus" asp-action="Index"
               class="nav-link @(currentController == "DeviceStatus" ? "active" : "")">
                <i class="fa fa-table me-2"></i> Device Status
            </a>
            <a href="@Url.Action("Index", "EventLogs")" class="nav-link @(currentController == "EventLogs" ? "active" : "")">
                <i class="fa fa-clock me-2"></i> Event Logs
            </a>
            @{
                bool isUserMenuActive = currentController == "Users";
            }
            <a class="nav-link @(isUserMenuActive ? "active" : "")" data-bs-toggle="collapse"
               href="#usersSubMenu" aria-expanded="@isUserMenuActive" aria-controls="usersSubMenu">
                <i class="fa fa-users"></i>Users
            </a>
            <div class="collapse ps-4 menu-background @(isUserMenuActive ? "show" : "")" id="usersSubMenu">
                <a href="@Url.Action("Logins", "Users")" class="nav-link @(currentController == "Users" && currentAction == "Logins" ? "sub-active" : "")">Logins</a>
                <a href="@Url.Action("RFID", "Users")" class="nav-link @(currentController == "Users" && currentAction == "RFID" ? "sub-active" : "")">RFID</a>
            </div>
            <a href="@Url.Action("Index", "AlarmConfiguration")" class="nav-link @(currentController == "AlarmConfiguration" ? "active" : "")"><i class="fa fa-bell"></i>Alarm Configuration</a>
            <a href="@Url.Action("Index", "DeviceConfiguration")" class="nav-link @(currentController == "DeviceConfiguration" ? "active" : "")"><i class="fa fa-microchip"></i>Device Configuration</a>
            @{
                bool isSystemMenuActive = currentController == "AboutCenturion" || currentController == "System";
            }
            <a class="nav-link @(isSystemMenuActive ? "active" : "")" data-bs-toggle="collapse"
               href="#systemsSubMenu" aria-expanded="@isSystemMenuActive" aria-controls="systemsSubMenu">
                <i class="fa fa-cogs"></i>System
            </a>
            <div class="collapse ps-4 menu-background @(isSystemMenuActive ? "show" : "")" id="systemsSubMenu">
                <a href="@Url.Action("Index", "AboutCenturion")" class="nav-link @(currentController == "AboutCenturion" ? "sub-active" : "")"> About this Centurion™ Bridge</a>
                <a href="@Url.Action("Settings", "System")" class="nav-link @(currentController == "System" && currentAction == "Settings" ? "sub-active" : "")"> Settings</a>
                <a href="@Url.Action("SNMP", "System")" class="nav-link @(currentController == "System" && currentAction == "SNMP" ? "sub-active" : "")"> SNMP</a>
                <a href="@Url.Action("Auxilllary IO", "System")" class="nav-link @(currentController == "System" && currentAction == "Auxilllary IO" ? "sub-active" : "")"> Auxilllary IO</a>
            </div>
                       
            <a href="@Url.Action("Index", "UserSetting")" class="nav-link @(currentController == "UserSetting" ? "active" : "")"><i class="fa fa-user-cog"></i>User Settings</a>
            <hr class="hr-line-solid m-b-none" />
            <a asp-controller="Login" asp-action="Logout"
               class="nav-link @(currentController == "Login" && currentAction == "Logout" ? "active" : "")">
                <i class="fa fa-sign-out-alt"></i>LogOut
            </a>
        </div>

        <div class="main-content">
            @RenderBody()
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
